*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url(bg.jpg)

}
.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.container h1{
    margin: 20px 0;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    ;

}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
    


}
.card{
    width: 32%;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 10px;

}
.card img{
    height: 100%;
    filter: grayscale(100%);
    object-fit: cover;
    width: 100%;
    box-shadow: 0 0 20px #333;
}
.card:hover{
    transform: scale(1.03);
    filter: drop-shadow(0 0 10px #333);

}
.card:hover img{
    filter: grayscale(0%);
}
.card figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    padding: 25px;
    font-size: 16px;
    font-weight: 500;
    color: aliceblue;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    transition: 0.3s;
    background: linear-gradient(to top(0deg,rgba(0,0,0,0.5) 0% ,rgba(255,255,255))) ;

}
.card:hover figcaption{
    opacity: 1;
    transform: scale(1.03);

}